/* General */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS Header */
header {
  display: flex;
  align-items: center;
  background-color: #151414;
  position: sticky;
  top: 0;
  z-index: 5;
  color: #fff;
  height: 90px;
}
header .logo{
width: 25%;
text-align: center;
}
header .logo a {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header .nav-container ul{
display: flex;
justify-content: space-around;
list-style: none;
}
header .nav-container ul li{
margin: 0 13px;
}
header .nav-container ul li a{
font-size: 15px;
text-decoration: none;
color: white;
}
header .nav-container ul li a:hover{
color: rgb(236, 184, 120);
}
header .nav-container i{
display: none;
}

/* CSS Main */

/*main { }*/  

/* CSS footer */
footer {
    background-color: #151414;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%; 
    margin: 0 auto;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    margin: 10px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    color: rgb(243, 180, 98);;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
    color: rgb(243, 180, 98);
    transition: 0.3s;
  }
  
  .footer-section form {
    margin-top: 10px;
  }
  
  .footer-section input[type="email"] {
    padding: 8px;
    width: 80%;
    margin-bottom: 10px;
  }
  
  .footer-section button {
    padding: 8px 16px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .footer-section button:hover {
    background-color: #777;
  }
  
/* responsive */
  @media (max-width: 1260px){
    header .logo{
      width: auto;
      padding: 0 40px;
    }
  }
  
  @media (max-width: 1150px){
    header {
      justify-content: space-around;
    }
    header .nav-container ul{
      position: fixed;
      display: block;   
      text-align: center;    
      line-height: 35px;
      margin-right: -100%;
      margin-top: 10px;
      width: auto;
      height: auto;
      padding: 1rem;
      top: 75px;
      right: 0px;
      background-color: rgba(24, 24, 24, 0.753);
      transition: all .2s;
    }
    header .nav-container i{
      display: inline-block;
      font-size: 30px;
    }
    header .nav-container ul.mobile-menu{
      margin-right: 0;
      transition: all .7s;
  }
  }

