* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Asegurar que el body y html ocupen toda la pantalla */


h1 {
    margin: 20px 10px;
    font-size: 2.2em;  
    color: #151414;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* Contenedor del mapa */
.map-container {
    width: 1000%;
    max-width: 1200px;
    height: 60vh; /* Usar 60% de la altura de la ventana */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    background-color: #fff;
    border: 4px solid #e0e0e0;
    
}

/* Estilos para el iframe del mapa */
.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}


/* Adaptabilidad para dispositivos móviles */
@media (max-width: 768px) {
    h1 {
        font-size: 1.6em;  /* Tamaño más pequeño */
        margin: 10px 5px;
    }
    .map-container {
        height: 50vh; /* Altura ajustada para móviles */
        max-width: 100%;  /* Asegura que el mapa no se desborde */
    }
    /* Ajustar el iframe para mantener la relación de aspecto */
    .map-container iframe {
        height: 100%;
        width: 100%;
        border: none;
    }

    }
    

