body {
    background: linear-gradient(40deg, #fcfcfc, #ffffff,  #f3d07d80, #ffffff, #ffffff);
    background-size: 400%, 400%;
    animation: gradienteAnimacion 10s ease infinite;
}

@keyframes gradienteAnimacion {
    0% {
        background-position: 0%, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {background-position: 0%, 50%;
    }
}

.anchoPagina {
    max-width: 1000px;  
    margin: auto;     
    padding: 10px;
    font-size: 21px;
}

h1{
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 40px;
    color: rgb(253, 181, 113);

    text-shadow: 
        -1px -1px 0 rgb(255, 255, 255),
        1px -1px 0 rgb(255, 255, 255),
        -1px  1px 0 rgb(255, 255, 255),
        1px  1px 0 rgb(255, 255, 255);
}


p {
    padding-bottom: 30px;
}

/* Animacion*/

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}



.fotoManga, .fotoManga2, .fotoManga3, .fotoManga4 {
    /*Borde*/
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 5px;
    border-color: rgb(253, 181, 113);
    /*Fin de borde*/

    view-timeline-name: --div;
    view-timeline-axis: block;

    animation-timeline: --div;
    animation-name: show;

    animation-range: entry 10% cover 45%;
    animation-fill-mode: both;

}

/* Foto seguido de texto N1*/
.fotoManga{
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.fotoEscolar {
    width: 350px;
    height: 470px;
    border-radius: 5%;
}

.parrafoFoto{
    margin-right: 50px;
}

/* Foto seguido de texto N2*/

.fotoManga2{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.fotoTerror {
    width: 550px;
    height: 450px;
    
    border-radius: 5%;
}

.parrafoFoto2{
    margin-left: 50px;
}

/* Foto seguido de texto N3*/

.fotoManga3{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.fotoEscolar2 {
    width: 350px;
    height: 470px;
    
    border-radius: 5%;
}

.parrafoFoto3{
    margin-right: 50px;
}
/* Foto seguido de texto N4*/

.fotoManga4{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.fotoIsekai {
    width: 550px;
    height: 450px;
    
    border-radius: 5%;
}

.parrafoFoto4{
    margin-left: 50px;
}

/*------Cambio de pantalla N°1*/

@media (max-width: 1000px) {
    
    .fotoTerror {
        height: 350px;
        width: 420px;
    }

    .fotoIsekai{
        width: 350px;
        height: 350px;
    }

    @keyframes show {
        from {
            opacity: 0;
            scale: 25%;
        }
    
        to {
            opacity: 1;
            scale: 100%;
        }
    }

    .fotoManga, .fotoManga2, .fotoManga3, .fotoManga4 {

        view-timeline-name: --div;
        view-timeline-axis: block;
    
        animation-timeline: --div;
        animation-name: show;
    
        animation-range: entry 15% cover 30%;
        animation-fill-mode: both;
    
    }
}

/*------Cambio de pantalla N°2*/

@media (max-width: 720px) {
    p {
        font-size: 1rem;
    }

    @keyframes show {
        from {
            opacity: 0;
            scale: 25%;
        }
    
        to {
            opacity: 1;
            scale: 100%;
        }
    }

    .fotoManga, .fotoManga2, .fotoManga3, .fotoManga4 {

        view-timeline-name: --div;
        view-timeline-axis: block;
    
        animation-timeline: --div;
        animation-name: show;
    
        animation-range: entry 20% cover 35%;
        animation-fill-mode: both;
    
    }

    .fotoManga, .fotoManga2, .fotoManga3, .fotoManga4 {
        flex-direction: column;
    }

    .fotoManga2, .fotoManga4 {
        flex-direction: column-reverse;
    }



    .fotoTerror, .fotoIsekai {
        margin-bottom: 40px;
    }

    .fotoEscolar, .fotoEscolar2 {
        margin-top: 20px;
    }

    .fotoTerror {
        width: 350px;
        height: 300px;
    }

    .parrafoFoto2, .parrafoFoto4 {
        margin-left: 0%;
        padding-bottom: 30px;
    }
    
}