/* inicio del css */
.formu{
    width: 100%;
    height: 94.5vh;
}
.formu .formu-conteiner{
    text-align: center;
}
.formu .formu-conteiner span{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 2px;
    background-color: rgb(240, 172, 84);
}
.formu .formu-conteiner h3{
    padding: 35px 0 15px;
    color: rgb(240, 172, 84);
}
.formu .formu-conteiner h1{
    margin-bottom: 16px;
}
.formu .formu-conteiner p{
    margin-top: 16px;
    color: rgb(146, 141, 141);
}

.formu .formu-datos{
    width: 65%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}
.formu .formu-datos .caja{
    display: flex;
    width: 100%;
    height: auto;
}
.formu .formu-datos .caja div{
    width: 45%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0 10px;
}
.formu .formu-datos .caja div input{
    margin-top: 10px;
    height: 40px;
    width: 500px;  
    border: 1px solid rgb(175, 174, 174); 
    padding: 10px;
    border-radius: 10px;
    outline: none;
}
.formu .formu-datos .form-tex{
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0 10px
}
.formu .formu-datos .form-tex textarea{
    height: 250px;
    width: 95%;
    border: 1px solid rgb(175, 174, 174);
    border-radius: 15px;
    padding: 20px;
    outline: none;
    margin-top: 10px;
}
.formu .formu-datos button{
    background-color: rgb(243, 180, 98);
    padding: 15px 50px;
    margin-left: 35px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
.formu .formu-datos button:hover{
    background-color: rgb(230, 155, 58);
}